<div class="container">
    <nav class="navbar navbar-expand-md navbar-light">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#" class="modif">ACCUEIL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" class="modif">DRIVE</a>
                </li>

            </ul>

            <img class="logo" src="/assets/bg.jpg" alt="Biolal logo">


            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" class="modif">MON PANIER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" class="modif">MON COMPTE</a>
                </li>
                <li>
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control">
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>