<hr>
<div class="container">
    <div class="row">

        <div class=" col-12 col-md-2">
            <img class="regl" src="assets/bg.jpg" alt="Biolal logo">
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ratione vero numquam! Cupiditate
                deserunt, doloribus eveniet iure amet tenetur </p>
        </div>

        <div class="col-12 col-md-3">
            <h5>Lorem ipsum</h5>
            <p> Lorem, ipsum dolor sit amet, <br> consectetur adipisicing elit. <br> Possimus ratione vero numquam! <br>
                Cupiditate deserunt</p>

            <div class="d-flex">
                <img class="mr-2" src="assets/face.png" alt="mail" style="width: 20px;height: 20px;">
                <img class="mr-2" src="assets/tw.png" alt="mail" style="width: 20px;height: 20px;">
                <img src="assets/face.png" alt="mail" style="width: 20px;height: 20px;">
            </div>

        </div>

        <div class="col-12 col-md-2">
            <h6> Lorem ipsum </h6>
            Lorem ipsum <br>Lorem ipsum <br>Lorem ipsum <br>Lorem ipsum
        </div>

        <div class="col-12 col-md-2">
            <h6> Lorem ipsum </h6>
            Lorem ipsum <br>Lorem ipsum <br>Lorem ipsum <br>Lorem ipsum
        </div>

        <div class="col-12 col-md-3">
            <h6>Recever notre newsletter</h6>
            <p>Pour suivre l'actualité du Bio,les promos,nouveautés...inscrivez-vous:</p>

            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>

    <div class="divCenter">
        <div class="d-flex">

            <h6>Contact Info:</h6>
            <a class="nav-link" href="#"><img src="assets/mail.png" alt="mail"
                    style="width: 20px;height: 20px;">example@biolal.com</a>
            <a class="nav-link" href="#"><img src="assets/tele.png" alt="tel" style="width: 20px;height: 20px;"> 0 320
                422 4254 </a>
            <a class="nav-link" href="#"><img src="assets/loc.png" alt="localistn"
                    style="width: 20px;height: 20px;">Lorem ipsum </a>
        </div>
    </div>

    <hr>

    <div class="width-footer">
        <div class="d-flex justify-content-around">
            <span class="font-weight-light"> ©2020 E-commerce WebSite by SKwiq</span>
            <div class="d-flex justify-content-end">
                <img src="assets/mc.png" alt="mail" style="width: 20px;height: 20px;">
                <img src="assets/pypl.png" alt="tel" style="width: 20px;height: 20px;">
                <img src="assets/Visa.png" alt="localistn" style="width: 20px;height: 20px;">
            </div>
        </div>
    </div>
</div>