<hr>
<div class="container">
    <div class="row">

        <div class=" col-12 col-md-2">
            <img class="regl" src="assets/bg.jpg" alt="Biolal logo">
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus ratione vero numquam! Cupiditate
                deserunt, doloribus eveniet iure amet tenetur </p>

        </div>
        <div class="col-12 col-md-3">
            <h5>Lorem ipsum</h5>
            <p> Lorem, ipsum dolor sit amet, <br> consectetur adipisicing elit. <br> Possimus ratione vero numquam! <br>
                Cupiditate
                deserunt</p>

        </div>
        <div class="col-12 col-md-2">
            <h6> Lorem ipsum </h6>
            Lorem ipsum <br>Lorem ipsum <br>Lorem ipsum <br>Lorem ipsum
        </div>
        <div class="col-12 col-md-2">
            <h6> Lorem ipsum </h6>
            Lorem ipsum <br>Lorem ipsum <br>Lorem ipsum <br>Lorem ipsum
        </div>

        <div class="col-12 col-md-3">
            <h6>Recever notre newsletter</h6>
            <p>Pour suivre l'actualité du Bio,les promos,nouveautés...inscrivez-vous:</p>


            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
            </form>


        </div>

    </div>

    <nav class="navbar navbar-light navbar-expand-md  justify-content-md-center justify-content-start" pb-5>
        <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
            <ul class="navbar-nav mx-auto text-md-center text-left">
                <li class="nav-item">
                    <p>Contact Info:</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="assets/mail.png" alt="mail">example@biolal.com</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="assets/tele.png" alt="tel"> 0 320 422 4254 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="assets/loc.png" alt="localistn">Lorem ipsum </a>
                </li>
            </ul>
        </div>


    </nav>
    <hr>

    <nav class="navbar navbar-light navbar-expand-md  justify-content-md-center justify-content-start" pb-5>
        <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
            <ul class="navbar-nav mx-auto text-md-center text-left">
                <li>


                    ©2020 E-commerce WebSite by SKwiq
                </li>
                <div class="icon"></div>

                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="assets/mc.png" alt="mail"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="assets/pypl.png" alt="tel"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="assets/Visa.png" alt="localistn"></a>
                </li>
            </ul>
        </div>


    </nav>

</div>