<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-md-center justify-content-start" pb-5>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-md-center text-left">
            <li class="nav-item">
                <a class="nav-link" href="#" class="modif">viande biolale </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" class="modif">epicerie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" class="modif">epices </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" class="modif">fruits secs </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" class="modif">boisson </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" class="modif">alimentation bebe </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" class="modif">sante </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" class="modif">beaute hygienne </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" class="modif">nos conseils </a>
            </li>
        </ul>
    </div>
</nav>