<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/assets/v.jpg" alt="hereford img">
            </div>
        </div>
    </div>


    <h5>NOUVELLE FILIERE BIOLAL : LA HEREFORD</h5>


    <div class="cont1">
        <div class="row">
            <div class="col-md-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut, inventore quod,
                accusantium
                veritatis consequuntur quis quisquam aspernatur iste minima odit fugit libero nam, aut minus nobis
                repellendus
                praesentium deserunt natus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ipsum
                facere
                rerum ea architecto quisquam fugit qui ipsam pariatur facilis? Optio quidem a quod laboriosam nesciunt
                velit
                at
                odio voluptatibus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis provident, voluptate
                nesciunt
                enim autem, eligendi sit voluptatem ipsum ducimus repellat doloribus sed dolor nam beatae qui iure
                quaerat
                porro
                minus.</div>
            <div class="col-md-4 mr-auto">
                <img class="rgl" src="/assets/v.jpg" alt="hereford img" style="float: right;">
            </div>
        </div>
    </div>


    <hr>


    <div class="cont1">
        <div class="row">
            <div class="col-md-4 mr-auto"> <img class="rgl" src="/assets/v.jpg" alt="hereford img"></div>
            <div class="col-md-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dolores nisi
                modi,officia quia autem dolorem consectetur neque similique quos voluptatem placeat delectus dolor
                adipisci
                pariatur eum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut, inventore quod, accusantium
                veritatis consequuntur quis quisquam aspernatur iste minima odit fugit libero nam, aut minus nobis
                praesentium deserunt natus?</div>
        </div>
    </div>


    <div class="text-center">
        <button type="button" class="btn btn btn-sm" class="btn">LOREM IPSUM </button>
    </div>


</div>